.outer-container-student{

    background-image: url("../../Assets/userpage.png") ;
    height:1200px;
    background-repeat: no-repeat;
    background-position: center;
}
.buttons-student{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 60px;
    gap: 160px;


}
.student-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 150px;

}
.submission-table{
    text-align: center;

}
.submission-table td{
    border: 1px solid black ;
    border-radius: 4px;
    padding-left: 6px;
    padding-right: 6px;


}