.button {
    padding: 10px;
    width: 250px;
    border: 20px solid #FB7E2D;
    background-color: #006EA7;
    color: white;
    border-radius: 10px;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    font-family: "Copperplate Gothic Bold";
    filter: drop-shadow(30px 10px 10px rgba(28, 28, 28, 0.89));
}

.button:hover {
    cursor: pointer;
}

.button:disabled {
    background-color: darkgray;
    cursor: not-allowed;
}

