.signup-page{
    background-image: url("../../Assets/signup-page.jpg") ;
    height: 1200px;
    background-size: cover;
    background-position: center;
    border: 1px solid #FB7E2D;
    border-radius: 5px;
}
.signup-form-outer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:900px;

    filter: drop-shadow(30px 10px 10px rgba(28, 28, 28, 0.89));
}
.signup-form-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #273E47;
    padding: 32px;
    width: 400px;
    border-radius: 10px;
    border: 1px solid #FB7E2D;
}
.signup-form-inner label {
    margin: 4px 0;
    font-weight: bold;
    color: white;
}
.signup-form-inner select{
    width: 75%;
    background-color: #D9D9D9;
}
.signup-form-inner input {
    width: 75%;
    padding: 4px 8px;
    margin: 6px 0;
    background-color: #D9D9D9;

}
.head-text{
    margin: 32px 0 24px 0;
    color: white;
}
.signup-button{
    background-color:#F37D4B ;
    border: none;
    color: #273E47;
    font-weight: bold;
    width: 75%;
    height: 25px;
    margin-top: 20px;
    border-radius: 8px;
}
.signup-button:hover{
    cursor: pointer;
    background-color: #f86c33;
}
p{
    font-size: large;
}
