.homepage {
    height:500px;
    width:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    place-items: center;

}

 h1{
    color: white;
}

.homepage-banner{
    background-image: url("../../Assets/background peerexchange.png") ;
    height: 1200px;
    background-size: cover;
    background-position: center;
}

.homepage-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -20px;
    filter: drop-shadow(30px 10px 10px rgba(28, 28, 28, 0.89));
}